body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background: green;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.button {
  padding: 10px;
  margin-top: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.recipe-grid {
  margin-top: 20px;
}
